.mainDiv{
  display: flex;
  
}

.divClass{
  width: 300px;
  height: auto;
  border: orange 2px solid;
  }
  span{
    color: rgb(86, 7, 149);
  }
  div{
    margin-top: 30px;
    margin-left: 20px;
  }
  button{
    width:60px;
    height:20px;
  }
  